@font-face {
  font-family: euclid;
  src: url(./assets/EuclidSquare-Regular.ttf);
}

@font-face {
  font-family: euclid-semibold;
  src: url(./assets/EuclidSquare-SemiBold.ttf);
}


@font-face {
  font-family: euclid-bold;
  src: url(./assets/EuclidSquare-Bold.ttf);
}

body {
  font-family: euclid;
  background-color: #E4E4E7;
  margin: 0;
  padding: 0;
}


.header-img {
  width: 60px;
  padding: 10px;
  position:absolute;
  top:50px;
  right:0;
}

.navbar {
  margin-bottom: 50px;
 margin-top: 0;
 background-color: black;
 display: flex;
 justify-content: space-between;
}

.navbar button {
  padding: 15px 50px;
  background-color: black;
  font-size: 18px;
  font-family: euclid-semibold;
}

.navbar button:hover {
  padding: 15px 50px;
  background-color:  #03AB03!important;
  font-size: 18px;
  font-family: euclid-semibold;
}

.my-spacer {
  flex: 1 1 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.userpage-container {
  display: flex;
}

input[type=text], input[type=password]  {
  border: none;
  border-bottom: 2px solid rgb(48, 48, 48);
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  width: 400px;
  font-size: 24px;
}

input[type=text]:focus {
  outline: none;
}

.login-header, .inventaris-header {
  margin-left: 75px;
}

.login-header h4, .inventaris-header h4 {
  color: #03Ab03;
  font-family: euclid-bold;
  font-size: 20px;
  margin-bottom: 10px;
  }

  .inventaris-header.red h4 {
    color: darkred;
  }
  
.login-header h2, .inventaris-header h2 {
  margin-top: 0;
  font-family: euclid-bold;
  font-size: 36px;
  }

.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.login-button,  .inventaris-add-container button {
  background-color: black;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 30px;
  color: white;
 text-align: center;
}

.login-button.logout {
font-size: 14px;
padding: 8px 16px;
position:absolute;
top:90px;
right:30px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.login-button a:visited, .login-button a:link {
  color: white;
  text-decoration: none;
}

::placeholder {
  font-size: 24px;
  color: #A1A1AA;
}

.inventaris-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 600px;
  margin-left: 75px;
  font-family: euclid-semibold;
}

.inventaris-searchbar h3{
margin-bottom: 0;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.inventaris-searchbar ::placeholder {
  font-size: 18px;
}

.inventaris-searchbar input[type=text] {
  padding: 10px;
  width: 200px;
  margin: 0;
}

.inventaris-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 75px;
  font-size: 0.9em;
  width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  max-height: 250px;
  overflow-y: scroll;
}

.inventaris-table thead tr {
  background-color: #03AB03;
  color: #ffffff;
  text-align: left;
}

.inventaris-table thead tr.red {
  background-color: darkred;

}

.inventaris-table th,
.inventaris-table td {
  padding: 12px 15px;
}

.inventaris-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.inventaris-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.inventaris-table tbody tr:last-of-type {
  border-bottom: 2px solid #03AB03;
}

.inventaris-table tbody tr.red:last-of-type {
  border-bottom: 2px solid darkred;
}

.table-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #03AB03;
  margin-left: 10px;
}

.icon.red {
  color: darkred;
  
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.inventaris-add-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 2px solid black;
  background-color: rgb(228, 228, 228);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.inventaris-add-form {
  display: flex;
  flex-direction: column;
}

.inventaris-add-form input[type=text] {
  padding: 10px;
 }

 .inventaris-add-container button {
  font-size: 20px;
 }

 .request-button {
   background-color: #03AB03;
   border: none;
   color: white;
   padding: 8px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   font-weight: bold;
   transition-duration: 0.4s;
 }

.request-button:hover {
  background-color: #00E600;
}

th span {
  cursor: pointer;
}
